{% extends 'base.html.twig' %}


{% block title %}Home page !{% endblock %}

{% block body %}


<div class="container">
  <h1 class="text_landing"> Find your <span class="text_title">dream </span> <br> jobs with us </h1>
  <img class="landingPagePhoto" src="/images/landingpage.png" alt="landing_page">
</div>

<div class="container_2">
  <h1 class="text_landing"> Browse <span class="text_title">Job Cateogry</span></h1>
  <section class="categories">

    {% for category in categories %}
    <a class="card card_cat" href="{{ path('category', { 'id': category.id}) }}">
      <div class="inner_container"</div>
          <img src="/images/icons/{{category.Image}}" class="card-img-top card_icon" alt="icon">
          <div class="card-body">
              <h3>{{category.name}}</h3>
              <p class="card-text">{{category.description}}</p>
          </div>
      </div>
  </a>
    {% endfor %}
  </section>
</div>

{% endblock %}
