<nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid d-flex justify-content-evenly nav_bar">
    <a class="navbar-brand" href="/">
        <span class="text_title">Find</span> Your Job
    </a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu_bloc">
        <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">Category</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">Carreer advice</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">Post a job</a>
        </li>
    </ul>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 login_bloc">
        <li class="nav-item">
            <a class="nav-link active" href="#">Log In</a>
        </li>
        <button class="button_register">
            <a class="nav-link active" href="#">Register</a>
        </button>
    </ul>
</nav>